# Sample riak.yml config file for running integration tests
# Be sure to 'cp riak.yml.example riak.yml' before testing

# Configure Riak connections for the client, by environment
development:
  http_port: 8098
  pb_port: 8087   # Protocol Buffer port
  host: 127.0.0.1

# You should spin up another Riak instance to use as a test server
test:
  http_port: 8098
  pb_port: 8087
  host: 127.0.0.1

production:
  http_port: 8098
  pb_port: 8087
  host: 127.0.0.1